

.outfit-normal {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Nav Color */
.nav-col{
    color: black;
}

/* Logo Style */
.logo{
    width: 200px;
}
nav{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}
nav ul {
    display: flex;
    
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none; 
}

#banner {
  background-image: url('../images//homecover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;

}
