

.outfit-normal {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Nav Color */
.nav-col{
    color: black;
}

/* Logo Style */
.logo{
    width: 200px;
}

nav{
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none; 
}

#banner {
  width: 100%;
  height: 300px;
  background-image: url('../images/homecover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 55px;
  color: white;
  margin-top: -75px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  
}

.textmove{
    position: relative;
    
    font-size: 2em;
            font-weight: bold;
            animation: slideIn 2s ease-out forwards;
            opacity: 0;
}

.whywithus{
    display: flex;
    /* padding: 100px; */
    /* margin: 50px;
    margin-left: 150px; */
    align-items: center;
    
}


.images-whywithus{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 10px;
    width: 45%;
    margin: 50px;
    margin-left: 100px;
}

.img-whywithus{
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.description-whywithus{
    /* background-color: aqua; */
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 30px;
    padding: 5px 30px;
    background-color: white;
    /* justify-content: center;
    align-items: center; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Horizontal, Vertical, Blur, Color with transparency */
}

.whywithus-head{
    color: black;
}
.whywithus-sub{
    color: gray;
}

.OurClients {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OurClients-description {
    width: 70%;
    margin-bottom: 30px;
}

.OurClients-descriptions {
    width: 100%;
    padding: 10px;
}

.brand-logo-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.brand-logo {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


@keyframes slideIn {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }

           